.aside ul li {
    background-color: #c0c0c0;
    border-bottom: 1px solid #808080;
}
.aside ul li:hover {
    background-color: #a9a9a9;
}

.span9 .span3 {
    background-color: #c0c0c0;
}

.span9 .span3:hover {
    background-color: #a9a9a9;
}
