@import url(bootstrap.min.css);
body {
  width: 1028px;
  margin: 50px auto;
  background-color: #f2f1ed;
}

.aside {
  margin-right: 40px;
}
.aside img {
  border-radius: 10px;
}
.aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.aside ul li {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(169, 169, 169, 0.5);
  font-weight: bold;
}
.aside ul li:hover {
  background-color: darkgrey;
}
.aside #avatar {
  padding: 20px;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
.aside #avatar img {
  height: 180px;
  width: 180px;
}
.aside #last {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}

.span9 {
  width: 748px;
}
.span9 .span3 {
  margin-bottom: 20px;
  padding: 8px;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: 4px;
}
.span9 .span3:hover {
  background-color: darkgrey;
}
.span9 button {
  margin: 0;
  font-weight: bold;
}
