body{
  background-color: white;
  font-family: Georgia, Times, “Times New Roman”, serif;
  font-size:19px;
  line-height: 29px;
}
header, footer{
  font-weight: bold;
  font-size: 23px;
}
footer{
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #313131;
  border-bottom: 1px dotted #666c6b;
}
  a:hover{
    color: #313131;
    border-bottom: 1px solid #666c6b;
  }

a#rss{
  display: block;
  float: right;
}
div#wrapper{
  width: auto;
  width-max: 760px;
  margin: 20px 260px;
}
div#post{
  font-family:"Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
}