html {
    font-family: "ff-nuvo-web-pro-1", "ff-nuvo-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: black;
}

body {
    background: #fff;
}

a {
    color:#000; 
    text-decoration: none; 
    font-weight: bold;
    -webkit-transition: color 0.2s linear;
}
a:hover { 
    color:#666; 
    text-decoration: none; 
    font-weight: bold;
    -webkit-transition: color 0.2s lineddar; 
}

.container {
	position:relative;
	max-width:720px;
	padding:0 20px;
	margin:0 auto;
}

.site-header {
	position:relative;
	overflow:hidden;
	padding:10px 0;
}

.site-h1 {
	font-size:14px;
    font-weight:normal;
	font-style:italic;
	vertical-align:middle;
    margin:0;
}

.site-logo {
	float:left;
	border:0;
	margin:0 25px 0 0;
}

.site-logo img {
	display:block;
}

.site-nav {
	display:inline-block;
	vertical-align:middle;
}

.site-nav ul {
	padding:0;
	margin:0;
}

.site-nav li {
	display:inline-block;
	margin:0 12px 0 0;
}

.site-content {
	margin-top:2em;
	margin-bottom:3em;
}

.archive ul {
    padding:0;
}

.site-footer {
	padding-bottom:1em;
	text-align:center;
}

.site-footer:before {
	content:"";
	display:block;
	max-width:640px;
	margin:0 auto 2em;
	height:1px;
	background:-webkit-linear-gradient(left,  rgba(255, 255, 255, 0),  #ccc,  rgba(255, 255, 255, 0));
	background:-moz-linear-gradient(left,  rgba(255, 255, 255, 0),  #ccc,  rgba(255, 255, 255, 0));
	background:-ms-linear-gradient(left,  rgba(255, 255, 255, 0),  #ccc,  rgba(255, 255, 255, 0));
	background:-o-linear-gradient(left,  rgba(255, 255, 255, 0),  #ccc,  rgba(255, 255, 255, 0));
}

.site-footer small {
	display:block;
	font-size:0.75em;
	color:#777;
}

.site-footer__links {
	margin:1em 0 0.5em;
}

.site-footer__links a {
	display:inline-block;
	padding:0.05em 0.25em;
	margin:0 0.3em;
	font-size:0.875em;
}

time {
	display:inline-block;
	font-size:0.75em;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#757575;
}

.archive ul time {
	float:right;
	margin:0.35em 0 0;
}

.post__timestamp {
    padding-bottom:10px;
    border-bottom:1px solid #DDD;
    margin:0;
    font-size:0.875em;
}
