body{
  background-color: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}
body.default{
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

div#title{
  font-size: 38px;
  font-weight: bold;
  line-height: 52px;
  border-bottom: 3px solid gray;
  padding-bottom: 16px;
  margin-bottom: 28px;
}
a#previous{
  display: block;
  float: right;
  font-size: 17px;
}
div#wrapper span{
  margin-bottom: 30px;
}

footer{
  color: #aaa;
  font-size: 14px;
  margin-top: 50px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
  a:hover{
    text-decoration: none;
    color: #8b0000;
}
.posts a{
  text-decoration: none;
  font-weight: bold;
  color: #8b0000;
}
  .posts a:hover{
    text-decoration: none;
    color: black;
}

div#wrapper{
  width: 640px;
  margin: 50px auto;
}
body.default div#wrapper{
  font-size: 26px;  
}

#post p{
  margin-bottom: 21px;     
}

ul.posts li{
  list-style-type: none;
  font-size: 21px;
  margin-bottom: 20px;
}
li.subposts {
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}
li.subposts span {
  color: #aaa;
}

code{
  font: 13px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595D;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  padding: 0px 3px;
  display: inline-block;
}

